* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    padding: 20px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

h1 img {
    width: 45px;
    margin-right: 6px;
}

.container {
    max-width: 800px;
    margin: auto;
}

#addBtn {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(#9418fd, #571094);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 40px;
}

#addBtn img {
    width: 25px;
    margin-right: 5px;
}

#addBtn:hover {
    background: linear-gradient(#571094, #9418fd );
}

.note {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.deleteBtn {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: red;
}

.content {
    min-height: 50px;
    outline: none;
}